<!DOCTYPE html>
<html lang="en">
<head>
    {%  load staticfiles %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>مشاهده محصول</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="{% static  "assets/fancy/source/jquery.fancybox.css?v=2.1.5" %}" media="screen" />
  <link rel="stylesheet" href="{% static  "assets/style/font-awesome.css" %}">
  <link href="{% static  "assets/style/bootstrap.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static  "assets/style/39.css" %}">
  <link href="{% static "assets/style/prettyPhoto.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static  "assets/style/slider.css" %}">
  <link rel="stylesheet" href="{% static  "assets/style/flexslider.css" %}">
  <link href="{% static  "assets/style/style.css" %}" rel="stylesheet">
  <link href="{% static  "assets/style/lblue.css" %}" rel="stylesheet">
  <link href="{% static  "assets/style/bootstrap-responsive.css" %}" rel="stylesheet">
  
  <script type="text/javascript" src="{% static "assets/js/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "assets/js/fancybox.js" %}"></script>

    <!-- JS -->
<script src="{% static "assets/js/bootstrap.js" %}"></script>
<script src="{% static "assets/js/jquery.isotope.js" %}"></script> <!-- Isotope for gallery -->
<!--<script src="assets/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto for images -->
<script src="{% static "assets/js/jquery.cslider.js" %}"></script> <!-- Parallax slider -->
<script src="{% static "assets/js/modernizr.custom.28468.js" %}"></script>
<script src="{% static "assets/js/filter.js" %}"></script> <!-- Filter for support page -->
<script src="{% static "assets/js/cycle.js" %}"></script> <!-- Cycle slider -->
<script src="{% static "assets/js/jquery.flexslider-min.js" %}"></script> <!-- Flex slider -->
<script src="{% static "assets/js/bootstrap.file-input.js" %}"></script> <!-- file input -->

<!-- Add jQuery library -->
<script type="text/javascript" src="{% static "assets/fancy/lib/jquery-1.10.1.min.js" %}"></script>

<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="{% static "assets/fancy/source/jquery.fancybox.js?v=2.1.5" %}"></script>
<script src="{% static "assets/js/easing.js" %}"></script> <!-- Easing -->
<script src="{% static "assets/js/custom.js" %}"></script>

</head>

<body  dir="rtl">
<!-- Navigation bar starts -->
          <div class="navbar">
           <div class="navbar-inner">
             <div class="container">
               <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                 <span>صفحات</span>
               </a>
               <div class="nav-collapse collapse">
                 <ul class="nav" dir="rtl">
                   <li><a href="">صفحه اصلی</a></li>
				   <li><a href="">ثبت نام</a></li>
				   <li><a href="">ورود</a></li>
				   
                 </ul>
               </div>
              </div>
           </div>
         </div>

<!-- Navigation bar ends -->

<div class="content">
  <div class="container">
  <div class="row tasks">
    <div class="span12">
	 
      <h2>مشاهده</h2>
	<hr />
      
	
      <div class="task cool rtl">
        <h3>{{ productObject.name }}</h3>
        <div class="tmeta">
		 <div class="da-img">

		 <a class="fancybox" rel="group" href="assets/img/parallax/5-image5.jpg">
		 <img src="{{ productObject.picture.url }}" alt="image01"></a>
		</div>
			قیمت: {{ productObject.price }} <br/>
			امتیاز: {{ productObject.score }} <br/>
            <p>جزئیات</p>
            <p>{{ productObject.details }}</p>


			
			<i class="icon-star"></i> میزان علاقه: 8/10
			<br /><i class="icon-calendar"></i> مدل: 2013
		</div>
		<a href="" class="btn btn-primary pull-left"><i class="icon-shopping-cart"></i>اضافه به سبد خرید</a>
		<div class="clearfix"></div>
      </div>
	  
	  <div class="task important rtl">
        <h5>نظر کاربران</h5>
        <div class="tmeta">
            {% for comment in comments %}
                <p>{{ comment.customer.username }}:</p>
                <p>{{ comment.content }}</p>

            {% endfor %}

		</div>
		<a href="" class="btn btn-danger pull-left"><i class="icon-plus-sign"></i> اضافه کردن نظر </a>
		<div class="clearfix"></div>
      </div>
    </div>
  </div>

    <div class="border"></div>			
	</div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">

      <div class="span12">
          <div class="copy">
            <h5><span class="color">فروشگاه محصولات</span></h5>
			<p>&copy; کلیه حقوق متعلق به وب سایت فروشگاه محصولات می باشد| <a href="#">صفحه اصلی</a></p>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer> 
	

</body>
</html>